@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@keyframes bounce-and-resize {
  0% 100% {
    transform: scale(0.9) translateY(0);
  }
  50% {
    transform: scale(1.0) translateY(-10px);
  }
}

.animate-bounce-and-resize {
  animation: bounce-and-resize 5s infinite;
}